.uw-cel-oer-list-results {
  margin: 10px 0px 0px 0px;
}

.uw-cel-oer-list-results dl {
  border-bottom: solid 1px #ddd;
  margin: 15px 0px 0px 0px;
  padding: 0;
}

.uw-cel-oer-list-results dl dt {
  margin: 5px 0px 0px 0px;
}

.uw-cel-oer-list-results dl dt a {
  font-size: 1.2em;
}

.uw-cel-oer-list-results dl dd {
  margin: 5px 0px 0px 0px;
}

.uw-cel-oer-list-results .no-results {
  margin: 15px 0px 0px 0px;
}
